body{
    margin: 0;
}

h1{
    color: rgb(16, 19, 211);
}
p{
    color: rgb(0, 0, 8);
}
.navigation{
    background-color: rgb(27, 138, 153);
    display: flex;
    position: sticky;
    top: 0px;

}
.menu{
    display: flex;
    gap: 35px;
    align-items: center;

}
.logo{
    font-weight: bold;
    font-size: 20px;
    flex-grow: 1;
    padding: 5px;
}
.item {
    color: rgb(0, 0, 0);
}
.item:hover {
    font-weight: bold;
}